@{
    ViewData["Title"] = "UserInfo3";
}


<div class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12  py-3">
        
        @if (ViewBag.Tx != null)
        {
          <div class="card-page row justify-content-center text-center my-3">
            <p class="col-9 text-light alert bg-success">@ViewBag.Tx</p>
          </div>
        }

        <div class="card-page">
            <h5 class="fg-primary">Partners</h5>
            <hr>

            <table class="table table-hover">

                <thead class="bg-primary rounded">
                    <tr class="text-light">
                      <th>row</th>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Family</th>
                      <th>Age</th>
                      <th>Image</th>
                      <th>عملیات</th>
                    </tr>
                </thead>

                <tbody>
                  @if (ViewBag.user != null)
                  {
                    int i = 1 ;
                    @foreach (var user in ViewBag.user)
                    {
                      <tr>
                        <td>@i</td>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Family</td>
                        <td>@user.Age</td>

                        <td>
                          <img class="img-thumbnail" width="100px" src="/FileUpload/@user.ImageName" alt="@user.Name">
                        <td>
                          <a href="/Contact/Delete/@user.Id" class="btn btn-sm btn-danger">Delete</a>
                          <a href="#" class="btn btn-sm btn-info">Edit</a>
                          <a href="#" class="btn btn-sm btn-success">Active</a>
                          <a href="#" class="btn btn-sm btn-warning">DeActive</a>
                        </td>
                      </tr>
                      i++;
                    }
                  }
                </tbody>

          </table>

        </div>

      </div>
    </div>
  </div>
</div>
